/* MainLayout.css */

/* 确保 Layout 使用 flex 布局 */
.ant-layout {
  height: 100vh; /* 占满整个视口高度 */
}



/* Logo 样式 */
.logo {
  height: 64px;
  background: linear-gradient(90deg, #1890ff, #40a9ff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

/* Header 样式 */
.ant-layout-header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

/* Header 左侧显示动态菜单标题 */
.header-left {
  font-size: 18px;
  font-weight: bold;
}

/* Header 右侧用户信息 */
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Sider 样式 */
.ant-layout-sider {
  height: 100vh; /* 固定 Sider 的高度 */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #001529;
  z-index: 1000;
  width: 150px; /* 固定宽度 */
}

/* Content 样式 */
.ant-layout-content {
  margin-top: 0; /* 移除顶部间距 */

  margin-left: 200px; /* 与 Sider 对齐 */
  padding:  0 0px;
  background: #f0f2f5;
  min-height: calc(100vh - 64px); /* 确保内容占满剩余高度 */
  overflow: visible; /* 禁用滚动条 */
  box-sizing: border-box;
}

